[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
requests = "*"
numpy = "*"
pyyaml = "*"
beautifulsoup4 = "*"
dash = "*"
plotly = "*"
pandas = "*"
networkx = "*"
matplotlib = "*"
kaleido = "*"
ipykernel = "==6.2.0"
ipytest = "*"
regex = "*"

[dev-packages]

[requires]
python_version = "3.10"
